.card {
    text-align: center;
    border: 3px solid green;
    border-radius: 3px;
    display: inline-block;
    background-color: grey;
    margin: 2px;
}

.card h3{
    padding: 0px;
    margin: 5px 0px;
}

.card p {
    display: block;
    margin-bottom: 0px;
}

.card img {
    height: 120px;
    width: 160px;
}

.left {
    padding-left: 5px;
    display: inline-block;
    width: calc(50% - 5px);
    text-align: left;
}

.right {
    padding-right: 5px;
    display: inline-block;
    width: calc(50% - 5px);
    text-align: right;
}

.player {
    background-color: black;
    color: white;
}

.defender {
    border-color: red;
}